.container {
    width: 610px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 50px;
}

.box {
    width: 1020px;
    position: absolute;
    transition: 0.5s;
}

.item {
    display: inline-block;
    height: 200px;
    width: 200px;
    transition: 0.5s;
    /*transform: translateX(-200px);*/
}

.item:hover, p {
    cursor: pointer;
    transition: 0.3s;
}

.item__image {
    height: 100%;
}